<header class="inner">
  <a id="forkme_banner" href="https://github.com/mixi-inc/AndroidTraining">View on GitHub</a>

  <h1 id="project_title">Androidtraining</h1>
  <h2 id="project_tagline">Training course repository for android app development</h2>

  <section id="downloads">
    <a class="zip_download_link" href="https://github.com/mixi-inc/AndroidTraining/zipball/master">Download this project as a .zip file</a>
    <a class="tar_download_link" href="https://github.com/mixi-inc/AndroidTraining/tarball/master">Download this project as a tar.gz file</a>
  </section>
</header>
