<core-toolbar  class="tall mainheader">
  <core-icon-button icon="menu" core-drawer-toggle></core-icon-button>
  <div flex></div>
  <a id="forkme_banner" href="https://github.com/mixi-inc/AndroidTraining">
      <core-icon-button src="{{site.baseurl}}/images/blacktocat.png"><span>View on GitHub</span></core-icon-button>
  </a>
  <div class="middle">{{ site.title }}</div>
  <h1 class="bottom title" itemprop="name">{% if page.title %}{{page.title}}{% else %}AndroidTraining{% endif %}</h1>

</core-toolbar>
{% if page.description %}
<div id="description" itemprop="description">{{page.description}}</div>
{% endif %}
