<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Androidtraining : Training course repository for android app development" />
    <meta content="@github" name="twitter:site" />
    <meta content="summary" name="twitter:card" />
    <meta content="{{site.title}}" name="twitter:title" />
    <meta content="AndroidTraining - Training course repository for android app development" name="twitter:description" />
    <meta content="{{site.github.url}}/assets/logo.png" name="twitter:image:src" />
    <meta content="GitHub" property="og:site_name" />
    <meta content="object" property="og:type" />
    <meta content="{{site.github.url}}/assets/logo.png" property="og:image" />
    <meta content="{{site.title}}" property="og:title" />
    <meta content="https://github.com/mixi-inc/AndroidTraining" property="og:url" />
    <meta content="AndroidTraining - Training course repository for android app development" property="og:description" />
    <meta name="go-import" content="github.com/mixi-inc/AndroidTraining git https://github.com/mixi-inc/AndroidTraining.git">

    <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/stylesheets/stylesheet.css">
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon.ico" />

    <title>{{page.title}} - {{site.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      {% include header.html %}
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{content}}
      </section>
    </div>


    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      {% include footer.html %}
    </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50931519-13', 'auto');
    ga('send', 'pageview');
    </script>

  </body>
</html>
