<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{page.description}}" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <!-- ogp for twitter -->
    <meta content="@mixi_engineers" name="twitter:site" />
    <meta content="summary" name="twitter:card" />
    {% if page.title %}
    <meta content="{{page.title}} - {{site.title}}" name="twitter:title" />
    {% else %}
    <meta content="{{site.title}}" name="twitter:title" />
    {% endif %}
    <meta content="{{page.description}}" name="twitter:description" />
    <meta content="{{site.github.url}}/assets/logo.png" name="twitter:image:src" />
    <!-- ogp -->
    <meta content="{{site.title}}" property="og:site_name" />
    <meta content="{{page.og_type}}" property="og:type" />
    <meta content="{{site.github.url}}/assets/logo.png" property="og:image" />
    {% if page.title %}
    <meta content="{{page.title}} - {{site.title}}" name="og:title" />
    {% else %}
    <meta content="{{site.title}}" property="og:title" />
    {% endif %}
    <meta content="{{site.github.url}}{{page.url}}" property="og:url" />
    <meta content="{{page.description}}" property="og:description" />

    <meta name="go-import" content="github.com/mixi-inc/AndroidTraining git https://github.com/mixi-inc/AndroidTraining.git">
    <script src="{{site.components.polymer}}/webcomponentsjs/webcomponents.js"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/stylesheets/main.css">
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon.ico" />
    <link rel="import" href="{{site.components.polymer}}/core-scroll-header-panel/core-scroll-header-panel.html">
    <link rel="import" href="{{site.components.polymer}}/core-toolbar/core-toolbar.html">
    <link rel="import" href="{{site.components.polymer}}/core-menu/core-menu.html">
    <link rel="import" href="{{site.components.polymer}}/core-item/core-item.html">
    <link rel="import" href="{{site.components.polymer}}/core-selector/core-selector.html">
    <link rel="import" href="{{site.components.polymer}}/core-header-panel/core-header-panel.html">
    <link rel="import" href="{{site.components.polymer}}/core-drawer-panel/core-drawer-panel.html">
    <link rel="import" href="{{site.components.polymer}}/core-icon-button/core-icon-button.html">
    <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-50931519-13', 'auto');
    ga('send', 'pageview');
    </script>
  </head>

  <body itemscope itemtype="http://schema.org/Article" fullbleed layout vertical>

    <core-drawer-panel selected="main" >
      <!-- MENU -->
      <core-header-panel mode="seamed" drawer class="drawer">
        {% include navigation.html %}
      </core-header-panel>
      <core-scroll-header-panel mode="waterfall-tall" main condenses keepCondensedHeader>
        <!-- HEADER -->
        {% include header.html %}

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="content outer" itemprop="articleBody">
          <section id="main_content" class="inner">
            {{content}}
          </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
          {% include footer.html %}
        </div>
      </core-scroll-header-panel>
    </core-drawer-panel>
    <script>
    // custom transformation: scale header's title
    var titleStyle = document.querySelector('.title').style;
    addEventListener('core-header-transform', function(e) {
      var d = e.detail;
      var m = d.height - d.condensedHeight;
      var scale = Math.max(0.75, (m - d.y) / (m / 0.25)  + 0.75);
      titleStyle.transform = titleStyle.webkitTransform =
          'scale(' + scale + ') translateZ(0)';
    });
  </script>
  </body>
</html>
